[submodule "third_party/pico-sdk"]
	path = third_party/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "third_party/pico-examples"]
	path = third_party/pico-examples
	url = https://github.com/raspberrypi/pico-examples.git
[submodule "third_party/picotool"]
	path = third_party/picotool
	url = https://github.com/raspberrypi/picotool.git
[submodule "third_party/clang-format"]
	path = third_party/clang-format
	url = https://chromium.googlesource.com/external/github.com/llvm/llvm-project/clang/tools/clang-format.git
[submodule "third_party/jinja"]
	path = third_party/jinja
	url = https://github.com/pallets/jinja.git
